.ejemplo {
  padding: 0.5em;
  background: #c8daea;
  border: 0.1em SteelBlue;
  border-radius: 10px;
}

.ejemplo-titulo {
  color: #ffeeff;
  background-color: SteelBlue;
  border: 0.1em SteelBlue;
  border-radius: 5px;
  padding: 10px 25px;
}

.test {
  padding: 0.5em;
  background: #e0ece3;
  border: 0.1em #1d5229;
  border-radius: 10px;
}

.test-titulo {
  color: #ffeeff;
  background-color: #1d5229;
  border: 0.1em #1d5229;
  border-radius: 5px;
  padding: 10px 25px;
}

.test-simbolo {
  font-size: 2em;
  color: #1d5229;
}
