.ejemplo {
  padding: 0.5em;
  background: #c8daea;
  border: 0.1em SteelBlue;
  border-radius: 10px;
}

.ejemplo-titulo {
  color: #ffeeff;
  background-color: SteelBlue;
  border: 0.1em SteelBlue;
  border-radius: 5px;
  padding: 10px 25px;
}

.test {
  padding: 0.5em;
  background: #e0e0d1;
  border: 0.1em #802000;
  border-radius: 10px;
}

.test-titulo {
  color: #ffeeff;
  background-color: #802000;
  border: 0.1em #802000;
  border-radius: 5px;
  padding: 10px 25px;
}

.test-simbolo {
  font-size: 3em;
  color: #802000;
}
